@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import 'bootstrap';

body {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
}
